@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #03021f;
}

main {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #03021f;
    padding: 30px 10px;
}

header {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    height: 130px;

}

header::-webkit-scrollbar {
    display: none;
}

header .item {
    width: 200px;
    height: 70px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
}


header .item img {
    border-radius: 13px;
    object-fit: cover;
    transition: .4s ease;
    scale: 1;
}




.searchIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.searchBlockWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.searchBlockWidth::-webkit-scrollbar {
    display: none;
}

.searchBlockWidth .itemSearch {
    padding: 5px 8px;
    background: #282829a2;
    border-radius: 6px;
    color: white;
    scale: 1;

    transition: 0.4s ease;

}





.allPageContainer {
    margin-top: 20px;
    padding: 20px 0;
    min-height: 200px;
}

.firstBox {
    max-width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    cursor: pointer;
}

.secondBox {
    max-width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    cursor: pointer;
    margin-top: 20px;
}

.firstBox::-webkit-scrollbar,
.secondBox::-webkit-scrollbar {
    display: none;
}

.popularProduct h1,
.baykPage h1 {
    margin: 0 0 10px 0;
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.productMainBox {
    width: 160px !important;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
    scale: 1;

    transition: .4s ease;
}


.productMainBox img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productMainBox h4 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 4px;
    margin-top: 10px;
}

.plusplus {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
}

.cashArend {
    font-size: 9px;
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.cashArend p {
    font-weight: 500;
}




.baykTogglePage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* //////////toggleInp/////////// */
.switch {
    --false: #E81B1B;
    --true: #009068;
}

input[type=checkbox] {
    appearance: none;
    height: 25px;
    width: 50px;
    background-color: #fff;
    position: relative;
    border-radius: .2em;
    cursor: pointer;
}

input[type=checkbox]::before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em/2 + .3em);
    background-color: var(--false);
    border-radius: .2em;
    transition: .3s ease;
}

input[type=checkbox]:checked::before {
    background-color: var(--true);
    left: calc(100% - (20px/2 + 5px));
}

.rightBaykPage{
    display: none;
}

.leftBaykPage{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.leftBaykPage .productMainBox{
    margin-bottom: 10px;
}

.rightBaykPage .productMainBox{
    margin-bottom: 10px;
}

.rightPageListMainBox{
    width: 100%;
}